<!DOCTYPE html>
<html lang="en">
 {{!-- {{>head}}  --}}
<head>
    <title> 404 </title>
   <link rel="icon" href="https://www.pngall.com/wp-content/uploads/11/Weather-PNG-Images.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
 {{>header}} 
  
<div class="notFoundPage center">
    <h1> {{errorMessage}} </h1> 
    <b>404</b>
</div>

 {{>footer}}

</body>
</html>