<footer class="background">
  <div class="text-footer">
    <p> Copyright ©-All rights are reserved</p>
    <br>
    <p> Created by <a href="mailto:mostafakhairsayed@gmail.com">Mostafa Sayed Khair</a></p>
  </div>
</footer>