<nav class="navbar background">
  <ul class="nav-list">
    <div class="logo">
      <img width="200" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" />
    </div>

    <li><a href="/">Home</a></li>
    <li><a href="/about">About Technology</a></li>
    <li><a href="/program">The program</a></li>
  </ul> 

  <div class="rightNav">
     123
    
  </div>
</nav>